# Expo
.expo/
web-build/
dist/

# Dependency directories
node_modules/

# Optional sensitivity files
.env

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build results
ios/build/
android/build/
android/app/build/

# EAS metadata
.eas/

# Optional Expo Go logs
*.jso

# macOS
.DS_Store
